.order-service-container form{
    margin-top:20px;
    display:flex;
    gap:30px;
}

.order-service-container h2 {
    position: initial;
    color: initial !important;
    max-width: initial;
}

.order-service-container h2::before {
    position: initial;
    content: initial;
    background-color: initial;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    z-index: initial;
}

.order-service-container input {
    font-size: 18px;
    padding: 20px 10px;
    border: 1px solid #d5d5d5;
    outline: none;
}

input:focus {
    outline: none;
}

.order-service-container input, .order-service-container button {
    width: 250px;
    border-radius: 10px;
}

.order-service-container button {
    background: #a52822;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    transition: opacity .3s ease;
    height:50px;
    cursor:pointer;
}

.order-service-container button:hover{
    opacity:.8;
}