.search-container-s{
    margin-top:50px;
    display:flex;
    justify-content:flex-start;
    padding-left:50px;
}

.search-container-s > div{
    padding-left:10px;
    padding-right:10px;
    border-right: 1px solid #d5d5d5;
}

.search-item-header-s {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.search-item-header-s svg{
    width:26px;
    height:26px;
}

.search-item-header-s p{
    font-size:14px;
    margin-left:10px;
    color:black;
}

.search-item-body-s, .svg-container-s > div > div {
    background: white;
    font-size: 18px;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    cursor: pointer;
}

.search-item-body-s {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height:50px;
}

.search-item-body-s span{
    margin-right:auto;
    padding: 10px 80px 10px 21px;
    color:black;
}

.search-item-body-s i{
    margin-right:10px;
}

.search-item-body-s input{
    width:100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d5d5d5;
    
    font-size: 15px;
    padding-left: 10px;
}

.rooms-container-s {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 0;
    background: #f1f1f0;
    gap: 1px;
    padding: 0 30px 0 0;
}

.rooms-container-s div {
    border: 2px solid #d5d5d5;
    border-radius: 10px;
    padding: 12px 15px;
    background:white;
    font-size:17px;
    text-align:center;
    transition: all .8s ease;
}

.rooms-container-s div:hover{
    border: 2px solid #a52722;
}

.search-item-body-s i {
    font-size: 20px;
}

.svg-container-s {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.svg-container-s div{
    
    font-size:1px;
}

.svg-container-s svg {
    width: 30px;
    height: 30px;
    margin:5px;   
}

.svg-container-s span {
    font-weight: 500 !important;
    font-size: 13px !important;
}

.currency-icon-s {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 11px;
    border: 1px solid #d5d5d5;
    vertical-align: middle;
    transition: all .2s ease;
    position: relative;
    margin-right: 2px;
}

.active-cur::before{
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #a52722;
    opacity: 1;
    transition: all .2s ease-out 0s;
}


.search-b-s {
    margin-top: 30px;
    text-transform: uppercase;
    color: white;
    transition: all .7s ease;
    background: #a52722;
    width: 170px;
    height: 46px;
    border-radius: 10px;
}