.success-label {
    padding: 20px;
    position: absolute;
    font-size: 18px;
    color: white;
    left: 42%;
    z-index: 100000;
    animation: roll-down 5s forwards;
}

.success-label.true {
    background: #11d907;
}

.success-label .false {
    background: #d10d0d;
}

@keyframes roll-down {
    0% {
        transform: translateY(-100%);
        opacity:0;
    }

    50% {
        transform: translateY(0);
        opacity:1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
